@font-face {
    font-family: 'fa-sign-in';
    /* IE9 Compat Modes */
    src: url('../statics/font/icomoon.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('../statics/font/icomoon.woff') format('woff'), /* Modern Browsers */
    url('../statics/font/icomoon.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../statics/font/icomoon.svg') format('svg');
    /* Legacy iOS */
}


/*header style*/

.blog_header {
    background-color: rgba(236, 227, 229, 0.2);
    padding-left: 0px;
    height: 60px;
}

.blog_header .user_message {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.blog_header .user_message span {
    margin-left: 10px;
}


/*sidebar*/

.layout-sidebar {
    position: absolute;
    ;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #7176a7;
    height: 100%;
}

.layout-sidebar .layout-title {
    width: 130px;
    margin-left: 30px;
}

.layout-sidebar .layout-title .layout-logo {
    width: 100px;
}

.layout-sidebar .layout-title .layout-title-text {
    margin-top: 10px;
    font-size: 16px;
}

.layout-sidebar .layout-title .layout-title-text:hover {
    color: #2c2d2a;
    margin-top: 10px;
}

.layout-sidebar .layout-title .layout-title-text span {
    margin-left: 5px;
}


/*context*/

.layout-contentbox {
    position: absolute;
    height: 100%;
    margin-left: 213px;
}
.layout-contentbox.col-lg-10{
  padding-left: 0px;
  padding-right: 0px;
}

.auto_login {
    position: relative;
}

.auto_login_input {
    position: absolute;
    opacity: 0;
}

.auto_login_ins {
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
}
.bella_login_form {
    width: 400px;
    margin-left: 30%;
    margin-top: 20%;
    background-color: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.fa-sign-in:after {
    font-family: "fa-sign-in";
    content: '\ea34'
}

.ibox-operate{
  margin:20px 10px 0 10px;
}
.ibox-operate .btn{
  margin-right: 20px;
}
.popup{
  position: absolute;
   height: 834px;
   width: 100%;
   background-color: #ccc;
}
.mask{
  height: 834px;
  width:100%;
  background-color: #ccc;
  display: none;

}
.sweet-alert{
  position:absolute;
  left:300px;
  top:300px;
  z-index: 3;
  background-color: #fff;
}
